/* ------ General Style ------ */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap");

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

#splash {
    width: 100%;
    height: 100%;

    position: fixed;

    z-index: 9999;

    animation-delay: 3s;
}

#splash-bg {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 9999;
}

#logo-wrapper {
    max-width: 14rem;
    width: 100%;
    padding: 1rem;
}

#m-path {
    stroke: #ecf0f1;
    stroke-width: 14.6267;
    stroke-linecap: round;
    fill: none;
}

#c-path {
    stroke: #ecf0f1;
    stroke-width: 14.6267;
    stroke-linecap: round;
    fill: none;
}

#dot-path {
    stroke: #ecf0f1;
    stroke-width: 0;

    fill: #ecf0f1;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: opacity(0);
    opacity: 0;
}

#logo-svg {
    height: auto;
    width: auto;

    animation: fade-in 1s ease forwards;
}

#subtitle {
    font-family: "Raleway", sans-serif;
    font-style: italic;

    text-align: center;

    transform: translateY(0);

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: opacity(0);
    opacity: 0;

    animation-delay: 0.5s;
}

#navbar {
    position: fixed;
    top: 0;

    z-index: 999;

    width: 100%;
}

#nav-spacer {}

#content {
    padding-top: 80px;
    min-height: 100%;
}

.navbar-brand img {
    color: black;
}

#header {
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);
    top: 80px;
    left: 0;

    overflow: hidden;
}

#header-title {
    font-size: 5rem;
}

#phrase {
    transition: 0.5s all;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: opacity(0);
    opacity: 0;
}

#header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

#header-dots {
    position: absolute;

    right: 0;
    bottom: 0;

    width: 300px;

    margin-bottom: 3rem;
}

@media (max-width: 992px) {
    #header-dots {
        width: 240px;
        margin-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    #header-wrapper {
        align-items: unset !important;
    }

    #header-dots {
        width: 200px;
        margin-bottom: 0.5rem;
    }

    #header-title {
        margin-top: 3rem;
    }
}

@media (max-width: 430px) {
    #header-title {
        font-size: 4rem;
    }
}