/* ------ General Style ------ */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap");

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#splash {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    animation-delay: 3s;
}

#logo-wrapper {
    max-width: 14rem;
    width: 100%;
    padding: 1rem;
}

#m-path {
    stroke: #ecf0f1;
    stroke-width: 14.6267;
    stroke-linecap: round;
    fill: none;
}

#c-path {
    stroke: #ecf0f1;
    stroke-width: 14.6267;
    stroke-linecap: round;
    fill: none;
}

#dot-path {
    stroke: #ecf0f1;
    stroke-width: 0;

    fill: #ecf0f1;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: opacity(0);
    opacity: 0;
}

#logo-svg {
    height: auto;
    width: auto;

    animation: fade-in 1s ease forwards;
}

#subtitle {
    font-family: "Raleway", sans-serif;
    font-style: italic;

    text-align: center;

    transform: translateY(0);

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: opacity(0);
    opacity: 0;

    animation-delay: 0.5s;
}