@import "../../node_modules/bulma/css/bulma.css";
@import "../../node_modules/material-icons/iconfont/material-icons.css";

html,
body,
#__nuxt {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
